@charset "UTF-8";
@import "mixin";

html, body{
    @include font(rem(14), 400);
    height: 100%;
}

.wrap{
    @include flex(grid);
    grid-template-columns: rem(120) 1fr;
    grid-template-rows: rem(80) 1fr rem(50);
    height: 100%;

    header{
        @include flex(flex, space-between, center);
        grid-column: 2 / 4;
        padding: 0 rem(20);

        .uniq{
            @include flex(flex,flex-start, center);
            gap: 0 rem(10);
        }
    }

    nav{
        grid-column: 1 / 1;
        grid-row: 1 / 4;
        padding: rem(30) rem(15);
        border-right: rem(1) solid var(--line-base);
    }

    main{
        grid-column: 2 / 4;
        padding: 0 rem(20);
    }

    footer{
        grid-column: 2 / 4;
        padding: 0 rem(20);
    }
}

.sr-only{
    position: absolute;
    width: rem(1);
    height: rem(1);
    padding: 0;
    margin: rem(-1);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.text-h1{
    @include font(rem(28), 700);
    margin-bottom: rem(40);
}

.text-h2{
    @include font(rem(20), 700);
    margin-bottom: rem(15);

    &:not(:first-of-type){
        margin-top: rem(60);
    }
}

.text-h3{
    @include font(rem(16), 700);
    margin-bottom: rem(10);
}