@charset "UTF-8";
@import "mixin";
// @import "font";

/* Reset Asll Element */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, hr,
dl, dt, dd, ol, ul, li,
form, fieldset, legend, label, button, input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
main, menu, nav, footer, header, hgroup, section, summary,
time, mark, audio, video, meter, progress {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    font-family: inherit;
    vertical-align: initial;
    background: transparent;
    box-sizing: border-box;
}

em, address, i {
    font-style: normal;
}

a {
    -webkit-tap-highlight-color: transparent;
    color: var(--f-base);
    text-decoration: none;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

/* Form */
// legend {
//     @include hidden;
// }

select, textarea, input, label, button {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

select, textarea, input:not([class^=checkbox]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

// input[type=checkbox], input[type=radio]{
//     position: absolute;
// }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--f-base);
}

select::-ms-expand {
    display: none;
}

input, textarea, select {
    line-height: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: var(--f-menu);
    letter-spacing: -0.05rem;
}
input::placeholder, textarea::placeholder, select::placeholder {
    color: var(--f-menu);
    letter-spacing: -0.05rem;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: inherit;
    letter-spacing: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

caption{
    @include hidden;
}

.mb40{margin-bottom: rem(40);}
.mb32{margin-bottom: rem(32);}
.mb16{margin-bottom: rem(16);}

.align-left{
    text-align: left !important;
}

.bold{
    font-weight: 600 !important;
}

ul,ol{
    list-style: none;
}

:focus {
    outline: none;
}

*:focus-visible{
    outline: 3px solid red; 
    outline-offset: 0px;
}

/* Root */
:root {
    font-size: 0.625rem;
    word-break: keep-all;
    word-wrap: break-word;
}

:root{
    --f-base: #000;
    --f-white: #fff;

    --bg-base: #F7F8F9;

    --line-base: #B4B8BD;
}